body{
    font-family: ;

}
.continer{
    display: flex;
    text-align: center;
  
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.firstpart{
    background-color:  hsl(241, 81%, 54%);
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
  
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    margin: 20px auto 0;
}
h3{
    color: hsl(241, 100%, 89%);
}
.degree{
    background-color:hsla(256, 72%, 46%, 1) ;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%));

    border-radius: 50%;
    width: 50%; /* تحديد عرض العنصر */
    margin: 0 auto;    
    border-radius: 50%; /* يُحدد شكل النص الدائري */
    width: 180px; /* العرض */
    height: 180px; /* الارتفاع */
    text-align: center; /* لوضع النص في المنتصف */
    line-height: 150px; 
    color:hsl(241, 100%, 89%);
}
.span1{
    font-size: 70px ;
    display: block; 
    margin-bottom: 0px;
    padding: 0px;
    height: 50px;
    color: aliceblue; 
    font-weight: bold;
}
h2{
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
    
    
}
p{
    color:hsl(241, 100%, 89%);

}
.seccondpart{
    margin: 0 auto;

    border-radius: 20px;
    width: 300px;
    box-shadow: 1px 0px 1px 1px hsl(221, 100%, 96%);
}
li{
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;  

}
li:first-child{
list-style: ;    
margin-bottom: 10px; /* Optional: add space between list items */
background-image: url('icon-reaction.svg'); 
background-size: 16px 16px; /* Set the size of the image */
background-repeat: no-repeat; /* Ensure the image doesn't repeat */
padding-left: 20px;
 background-color: hsl(0, 100%, 67%,10%);
 background-position-y:center ;
 background-position: 8px;
 padding: 10px;
width: 200px;
 border-radius: 10px;
}
li:nth-child(2){
    list-style: ;    
margin-bottom: 10px; /* Optional: add space between list items */
background-image: url('icon-memory.svg'); /* Replace 'path/to/your/image.png' with your image path */
background-size: 16px 16px; /* Set the size of the image */
background-repeat: no-repeat; /* Ensure the image doesn't repeat */
padding-left: 20px; /* Add padding to adjust for the image */
background-color: hsl(39, 100%, 56%,10%);
background-position-y:center ;
background-position: 8px;
padding : 10px;
width: 200px;
 border-radius: 10px;
}
li:nth-child(3){
    list-style: ;    
margin-bottom: 10px; /* Optional: add space between list items */
background-image: url('icon-verbal.svg'); /* Replace 'path/to/your/image.png' with your image path */
background-size: 16px 16px; /* Set the size of the image */
background-repeat: no-repeat; /* Ensure the image doesn't repeat */
padding-left: 20px; /* Add padding to adjust for the image */
background-color: hsl(166, 100%, 37%,10%);
background-position-y:center ;
background-position: 8px;

padding : 10px;
width: 200px;
 border-radius: 10px;
}
li:nth-child(4){
    list-style: ;    
margin-bottom: 10px; /* Optional: add space between list items */
background-image: url('icon-visual.svg'); /* Replace 'path/to/your/image.png' with your image path */
background-size: 16px 16px; /* Set the size of the image */
background-repeat: no-repeat; /* Ensure the image doesn't repeat */
 /* Add padding to adjust for the image */
background-color: hsl(234, 85%, 45%,10%);
background-position-y:center ;
background-position: 8px;

padding : 10px;
width: 200px;
 border-radius: 10px;
}
.fw1{
    color:hsl(0, 100%, 67%);
    margin-left: 15px ;
}
.fw2{
    color: hsl(39, 100%, 56%);
    margin-left: 15px ;
}
.fw3{
    margin-left: 15px ;
   color:hsl(166, 100%, 37%);
}
.fw4{
    margin-left: 15px ;
   color:hsl(234, 85%, 45%);
}
button{
    width: 220px;
    background-color: hsl(224, 30%, 27%);
    color: aliceblue;
    font-weight: bold;
border-radius: 10px;
padding: 8px;
margin-top: 15px;
margin-left: 5px;
}
h4{
    margin-right: 120px;
    margin-top: 50px;
}
@media only screen and (max-width: 700px) {
    .continer {
        display: block;
        padding: 0px;
        margin: 0px;
        width: 420px;
        box-sizing: border-box;
        
 
    }
    h3{
        margin-top: 0;
    }
    .firstpart{
        width: 100%;
        margin: 0px;
      
        box-sizing: border-box;
        height: 400px;
        padding-bottom: 0px;
    }
    p{
        padding-bottom: 0px !important;
    }
    .seccondpart{
        padding: 10px;
        width: 400px;
        
    margin-left: 0px;
    box-sizing: border-box;
    
    }
    h4{
        text-align: start;
        font-size: 22px;
        margin-left: 18px;
        margin-top: 12px;

    }
    li{
       width: 90% !important;
       padding: 20px !important;
       font-size: 22px;
     margin-left: 0px !important;
     box-sizing: border-box;
     background-size: 20px 20px !important; 
    }
    button{
        width: 80%;
        font-size: 22px;
       padding: 20px;
       border-radius: 40px;
    }

}
